<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block title %}Log in{% endblock title%}

{% block content %}
  <div>
    <div class="form form-group container center mt-6 px-4" style="max-width: 900px;">
      <h2 class="title">Log in</h2>
      <form autocomplete="off" method="POST" action="" class="box">
        {% csrf_token %}
        <div class="field">
          <div class="form-group control has-icons-left has-icons-right">
            <input 
              type="email" 
              name="email" 
              class="input is-primary"
              id="email"
              placeholder="Email" />
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <div class="form-group control has-icons-left">
            <input
              class="input"
              name="password"
              id="password"
              type="password"
              placeholder="Password">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
        </div>
        <button type="submit" class="button is-primary"> Log In </button>
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
      </form>
      <div class="errors">
        {% for message in messages %}
          <p>{{message}}</p>
        {% endfor %}
      </div>
  </div>

{% endblock content %}
