<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block title %}Log in{% endblock title%}

{% block content %}
  <nav class="breadcrumb has-succeeds-separator">
    <ul>
      <li><a href="/">Home</a></li>
      <li class="is-active"><a>login</a></li>
    </ul>
  </nav>

  <div>
    <div class="form form-group mx-auto px-4" style="max-width: 900px;">
      <h2 class="title">Log in</h2>
      <form autocomplete="off" method="POST" action="" class="box">

        {% if messages %}
          {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
              <div class="notification is-danger">
                <button class="delete"></button>
                <p>
                  {{ message }}
                </p>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% csrf_token %}
        <div class="field">
          <label class="label">Email</label>
          <div class="form-group control has-icons-left has-icons-right">
            <input 
              type="email"
              name="email"
              class="input is-primary"
              id="email"
              placeholder="e.g. example@email.com" />
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Password</label>
          <div class="form-group control has-icons-left">
            <input
              class="input"
              name="password"
              id="password"
              type="password"
              placeholder="********">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
        </div>
        <button type="submit" class="button is-primary"> Log In </button>
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
      </form>
  </div>

  <style>
    .contact-section {
      visibility: hidden;
    }
  </style>

{% endblock content %}
