{% load bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_messages %}


<html lang="en" class="has-navbar-fixed-top">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block  title %}Home{% endblock title %}</title>

	{% block style %}  {% endblock style %}
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">CHSE Learn</a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navmenu">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a href="{% url 'subjects' %}" class="nav-link">Courses</a>
					</li>
				</ul>

				<div class="nav-item ms-auto">
					{% if not user.is_authenticated %}
						<a href="{% url 'login' %}">
							<button class="btn btn-outline-primary">Log In</button>
						</a>
					{% else %}
						<a href="{% url 'logout' %}">
							<button class="btn btn-outline-secondary">Log Out</button>
						</a>
					{% endif %}
					</div>
			</div>
		</div>
	</nav>

	<div class="container mt-5">

		{% block content %}
		{% endblock content %}
	</div>

	<section id="contacts" class="contact-section">
		<div class="p-5">
			<div class="">
				<h2 class="has-text-white title is-3">Where to find us</h2>
			</div>
			<div class="is-flex-tablet is-justify-content-center">
				<a href="mailto:example@example.com" class="btn contact-details"
					><i class="fas fa-at"></i> Send a mail</a
					>
				<a href="tel:555-555-5555" class="btn contact-details"
					><i class="fas fa-mobile-alt"></i> Call Us</a
					>
			</div>
		</div>
	</section>
	<footer class="contact-section">
		<p class="has-text-white ml-2">By Learnet - Bhubaneswar, Odisha, India</p>
	</footer>

</body>
</html>
