{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
	{% if messages %}
		<div class="notification is-success">
			<button class="delete"></button>
			{% for message in messages %}
				<p>
					{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
						{{ message }}
					{% endif %}
				</p>
			{% endfor %}
		</div>
	{% endif %}
	<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio velit dicta, autem inventore perspiciatis labore, iusto, a sapiente neque ipsam dolorum consequatur. Suscipit iusto, nobis nemo nisi sapiente ab facere?</div>
</div>
{% endblock content %}
