{% extends 'base.html' %}

{% load static %}

{% block content %}
	<nav class="breadcrumb has-succeeds-separator px-4">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a class="is-active">Profile</a></li>
		</ul>
	</nav>

	<div class="columns pl-4">
		<div class="column is-one-third">
			<figure class="image mx-auto block" style="max-width: 200px;">
				<img src="{% static user_account.profile_pic.url %}" alt="" class="is-rounded">
			</figure>
			<div class="has-text-centered-touch">
				<p class="has-text-weight-bold">{{user_account.get_full_name}}</p>
				<p>{{user_account.email}}</p>
				{% if user_account.bio %}
					<p>{{user_account.bio}}</p>
				{% endif %}
				</div>

		</div>
		<div class="column has-text-centered">More features regarding profiles coming soon!</div>
	</div>

{% endblock content %}
