{% extends 'base.html' %}

{% block title %}{{current_subject.title}}{% endblock title %}

{% block content %}
	<nav class="breadcrumb has-succeeds-separator px-4">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/courses/">Courses</a></li>
			<li class="is-active"><a href="/courses/{{ current_subject.url }}/">{{ current_subject.title }}</a></li>
		</ul>
	</nav>

	<div class="block px-4">
		<h1 class="title is-3">
			{{ current_subject.title }}
		</h1>
		{% if current_subject.description %}
		<h3 class="subtitle is-5">
			{{ current_subject.description }}
		</h3>
		{% endif %}
		<hr>
	</div>

	<div class="is-flex">
		<aside class="is-hidden-mobile p-4 menu is-flex-shrink-1 is-unselectable mr-5" style="min-width: 300px;">
			<p class="menu-label">
				Contents
			</p>
			<ul class="menu-list">
				{% for subject in all_subjects %}
					{% if subject == current_subject %}
						<li>
								<a href="/courses/{{subject.url}}" class="is-active">{{subject.title}}</a>
								<ul>
									{% for chapter in chapters.keys %}
										<li><a href="#{{chapter.url}}">{{chapter.title}}</a></li>
									{% endfor %}
								</ul>
						</li>
					{% else %}
						<li><a href="/courses/{{subject.url}}">{{subject.title}}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</aside>
		<section class="is-flex-grow-5 pt-5">
			{% for chapter, topics in chapters.items %}
			<div class="mb-4 card is-flex is-flex-direction-column block" id="{{chapter.url}}">
				<header class="card-header">
					<a href="/courses/{{current_subject.url}}/{{chapter.url}}" class="card-header-title">
						{{chapter.title}}
					</a>
				</header>
				<div class="p-4 is-flex is-flex-direction-row">
					{% for topic_div in topics %}
						<div class="is-flex-grow-1">
							{% for topic in topic_div %}
							<div>
								<a href="/courses/{{current_subject.url}}/{{chapter.url}}/#{{topic.url}}">{{ topic.title }}</a>
							</div>
							{% endfor %}
						</div>
						{% empty %}
						<p class="mx-auto">More topics coming soon!</p>
					{% endfor %}
				</div>
			</div>
			{% endfor %}
		</section>
	</div>
{% endblock content %}
