{% extends 'base.html' %}

{% block title %}Watching {{current_video.title}}{% endblock title %}

{% block content %}
	<nav class="breadcrumb has-succeeds-separator px-4">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/courses/">Courses</a></li>
			<li><a href="/courses/{{ current_subject.url }}/">{{ current_subject.title }}</a></li>
			<li><a href="/courses/{{ current_subject.url }}/{{ current_chapter.url }}">{{ current_chapter.title }}</a></li>
			<li class="is-active"><a href="#">{{ current_video.title }}</a></li>
		</ul>
	</nav>

	<div class="px-4">
		<div class="block">
			<div class="title is-2">{{ current_video.title }}</div>
		</div>
		<hr>
	</div>

	<div class="is-flex-desktop is-flex-direction-row-reverse container">
		<div class="is-flex-grow-5 px-4">
			<div style="padding:56.25% 0 0 0;position:relative;" class="block">
				<iframe
					src="{{current_video.video_url}}"
					frameborder="0" 
					allow="autoplay; fullscreen; picture-in-picture" 
					allowfullscreen
					style="position:absolute;top:0;left:0;width:100%;height:100%;" 
					title="{{current_video.title}}">
				</iframe>
			</div>
			<div class="card mb-4">
				<div class="card-header">
					<div class="card-header-title">Description</div>
				</div>
				<div class="p-4">
					{{ current_video.description }}
				</div>
			</div>
		</div>
		<aside class="menu is-flex-grow-1 p-3 is-unselectable">
			<p class="menu-label">
				Contents
			</p>
			<ul class="menu-list">
				{% for topic in all_topics %}
					{% if topic == current_topic %}
						<li>
								<a href="/courses/{{subject.url}}" class="is-active">{{topic.title}}</a>
								<ul>
									{% for video in all_videos %}
										{% if video == current_video %}
										<li><a href="/courses/{{current_subject.url}}/{{chapter.url}}" class="is-active">{{video.title}}</a></li>
										{% else %}
											<li><a href="/courses/{{current_subject.url}}/{{chapter.url}}">{{video.title}}</a></li>
										{% endif %}
									{% endfor %}
								</ul>
						</li>
					{% else %}
						<li><a href="/courses/{{subject.url}}">{{topic.title}}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</aside>
	</div>

{% endblock content %}
